.c-spline {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;

    &__body {
        overflow: hidden;
    }

    &__loader {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #3c5163;
        z-index: 2;
        display: block;
    }

    &__section {
        width: 100%;
        height: 100vh;
        //outline: 1px solid red;
        //z-index: 2;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;

        &:last-of-type {
            position: absolute;
            top: 100%;
            left: 0;
        }
    }

    &__sections {
        position: absolute;
        pointer-events: none;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 1;
        will-change: transform;
    }

    &__model {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 1;
    }
}
