.c-furniture-configurator {
    position: relative;

    &__options {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 20px;
        max-width: 320px;
        list-style: none;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        z-index: 1;

        &--lights {
            right: auto;
            left: 0;
        }
    }

    li {
        width: calc(50% - 2.5px);
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .c-option-label {
        width: 100%;
    }
}

.c-option {
    display: flex;
    width: 100%;
    align-items: center;
    border: 1px solid $black-20;
    padding: 5px;
    cursor: pointer;
    background-color: $white-20;
    backdrop-filter: blur(5px);
    transition: all 0.2s;

    &--yellow {
        background-color: rgba(#ffff00, 0.2);
    }

    &--blue {
        background-color: rgba(#0000ff, 0.2);
    }

    img {
        max-width: 32px;
        pointer-events: none;
    }

    span {
        pointer-events: none;
        padding-left: 20px;
        padding-right: 10px;
    }

    &.is-active {
        border: 1px solid $black-50;
        pointer-events: none;
    }

    &.is-active,
    &:hover {
        background-color: $white-50;
    }
}
