.c-model-viewer-wrapper {
    position: relative;
}

.c-controls {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    max-width: 320px;
    list-style: none;
    margin: 0;
}
